<div class="left-box">
    <!-- Content for the left box -->
    <h2>Category</h2>
    <ul style="list-style-type: none; text-decoration: none;">
      <li><a href="/blog-category/technology/">Technology</a></li>
      <li><a href="/blog-category/business/">Business</a></li>
      <li><a href="/blog-category/lifestyle/">Lifestyle</a></li>
      <li><a href="/blog-category/travel/">Travel</a></li>
      <li><a href="/blog-category/food/">Food</a></li>
      <li><a href="/blog-category/health/">Health</a></li>
      <li><a href="/blog-category/fashion/">Fashion</a></li>
      <li><a href="/blog-category/entertainment/">Entertainment</a></li>
      <li><a href="/blog-category/design/">Design</a></li>
      <li><a href="/blog-category/science/">Science</a></li>
    </ul>
    <button><a href="/create_article">Create New Aritcle</a></button>
  </div>