<%- include("partials/header.ejs") %>
  <div class="main_b">
  <%- include("partials/left_panel.ejs") %>
  <%- include("partials/right_panel.ejs",{data:data}) %>
  </div>

  

<%- include("partials/footer.ejs") %>